<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<!-- Database connection settings -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">jdbc:mysql://cs218.cmghf6skbbba.us-west-2.rds.amazonaws.com:3306</property>
		<property name="connection.username">root</property>
		<property name="connection.password">1234567</property><!-- JDBC connection pool (use 
			the built-in) -->
		<property name="connection.pool_size">1</property>
		<property name="hibernate.connection.shard_id">0</property>
		<property name="hibernate.shard.enable_cross_shard_relationship_checks">
			true
		</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="dto.User" />

	</session-factory>

</hibernate-configuration>